.color-option {
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 5px;
    background-color: #f0caca;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid transparent;
}

.color-option:hover {
    background-color: #FFF;
    border: 1px solid blue;
}