.color-option {
    width: fit-content;
    padding: 20px;
    margin: 4px;
    background-color: #FFF;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
}

.color-option:hover {
    background-color: #FFF;
    border: 1px solid blue;
}

.emoji_image{
    border: 5px solid black;
}