.min-h-screen {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.w-full {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.header {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    color: #595959;
}

.header-highlight {
    color: #4d4dff;
}

.app-description {
    text-align: center;
    font-weight: lighter;
    color: #404040;
}

.emoji-container {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #4d4dff;
    margin-top: 30px;
}

.emoji-picker {
    box-shadow: #4d4dff 0px 0px 4px;
    width: 130px;
    padding: 15px;
    margin: 10px;
    position: fixed;
    top: 240px;
    left: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.slider_container {
    display: flex;
    justify-content: center;
    position: relative;
}

.slider {
    cursor: pointer;
}

.color-picker {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 130px;
    flex-wrap: wrap;
    position: fixed;
    top: 240px;
    right: 20px;
    box-shadow: #4d4dff 0px 0px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: lightskyblue;
    margin: 10px;
}

.angle-container{
    display: flex;
    position: absolute;
    top: 23px;
    left: 30px;
    flex-direction: column;
}

.imgRotate {
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.reset-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
}

.resetImg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.controls-container {
   height: 200px;
   width: 150px;
   padding: 10px;
   margin: 0px auto;
   position: relative;
   margin-top: 20px;
   box-shadow: 0px 0px 2px #4d4dff;
   border-radius: 10px;
   margin-top: 50px;
}

.bounceImg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.emojiBounce{
    position: absolute;
    bottom: 15px;
    left: 25px;
    display: flex;
    flex-direction: column;
}

.bounce-container{
    position: absolute;
    bottom: 38%;
    left: 25px;
    display: flex;
    flex-direction: column;
}


@keyframes bounce{
     0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    }

.animationImg {
    animation: bounce 0.5s infinite;
}

.pulse-container{
    position: absolute;
    bottom: 37%;
    right: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scale as needed */
  }
}

.pulse {
  animation: pulse 0.8s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out infinite;
}

.shakeImg {
    height: 40px;
    width: 40px;
    cursor: pointer;
}


.shake-container{
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flip {
  animation: flip 1s ease-in-out infinite;
}

.flipImg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.flip-container {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .emoji-picker {
        position: fixed;
        top: 200px;
        width: 80px;
        height: 500px;
        padding: 7px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .color-picker {
        position: fixed;
        top: 200px;
        width: 80px;
        height: 500px;
        padding: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .emoji-picker {
        position: fixed;
        top: 155px;
        margin: 0px;
        left: 0px;
        width: 60px;
        height: 520px;
        padding: 7px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .color-picker {
        position: fixed;
        top: 155px;
        right: 0px;
        width: 60px;
        height: 520px;
        padding: 7px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .emoji-container {
        height: 150px;
        width: 150px;
        border-radius: 15px;
    }
    .controls-container {
        height: 150px;
        width: 120px;
        padding: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}